.em-timeline {
  .MuiTimeline-root {
    padding: 0;
  }

  &.MuiTimeline-alignLeft,
  &.MuiTimeline-alignRight {
    .MuiTimelineItem-missingOppositeContent {
      &:before {
        display: none;
      }
    }
  }

  .MuiTimelineDot-root {
    padding: 2px;
    box-shadow: none;
  }

  .MuiSvgIcon-root {
    width: 1rem;
    height: 1rem;
  }

  .MuiTimelineConnector-root {
    width: 1px;
    background-color: var(--neutral-300);
  }

  .MuiTimelineDot-defaultPrimary {
    background: var(--primary-900);
  }

  .em-typography {
    &.MuiTypography-body2 {
      &.MuiTypography-colorTextSecondary {
        color: var(--neutral-500);
      }
    }
  }

  .MuiTimelineItem-alignAlternate:nth-child(even) {
    .MuiTimelineItem-content {
      .MuiTypography-alignLeft {
        text-align: right;
      }
    }
  }

  .MuiTimelineContent-alignRight {
    .MuiTypography-alignLeft {
      text-align: right;
    }
  }
}