.em-steppers {
  .MuiStepLabel-label {
    &.MuiStepLabel-alternativeLabel {
      color: var(--neutral-600);
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      margin-top: 8px;

      &.MuiStepLabel-completed {
        color: var(--neutral-900);

        .text {
          color: var(--white);
        }
      }

      &.MuiStepLabel-active {
        color: var(--primary-900);
      }
    }
  }

  .MuiStepIcon-root {
    width: 2rem;
    height: 2rem;
    border: 1px solid var(--neutral-300);
    border-radius: 50%;
    color: var(--white);

    path,
    .MuiStepIcon-text {
      display: none;
    }

    &.MuiStepIcon-completed {
      background: var(--primary-900);
      border-color: var(--primary-900);
      color: var(--white);
    }

    &.MuiStepIcon-active {
      border-color: var(--primary-900);
      border-radius: 50%;
      color: var(--white);

      .MuiStepIcon-text {
        fill: var(--primary-900);
      }
    }
  }

  .MuiStepConnector-alternativeLabel {
    top: 16px;
    left: calc(-50% + 16px);
    right: calc(50% + 16px);
  }

  .MuiStepLabel-root {
    &.stepLabel {
      position: relative;

      .text {
        position: absolute;
        left: calc(50% - 3px);
        top: 7px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
      }
    }
  }

  .MuiStepConnector-line {
    border-width: 2px;
    border-color: var(--neutral-300);
  }

  .MuiStepper-vertical {
    .MuiStepLabel-root {
      &.stepLabel {
        .text {
          left: 12px;
        }
      }
    }

    .MuiStepConnector-vertical {
      margin-left: 16px;
    }

    .MuiStepConnector-alternativeLabel {
      position: static;
      padding: 0;

      .MuiStepConnector-lineVertical {
        min-height: 60px;
      }
    }

    .MuiStepLabel-root.MuiStepLabel-alternativeLabel {
      flex-direction: row;
    }

    .MuiStepLabel-label {
      &.MuiStepLabel-alternativeLabel {
        margin: 0 0 0 8px;
      }
    }
  }

  &.noIcon {
    .MuiStepIcon-root {
      position: relative;
      padding: 8px;

      circle {
        fill: var(--neutral-300);
      }

      &.MuiStepIcon-completed {
        background: var(--white);
        width: 16px;
        height: 16px;
        padding: 0;
      }

      &.MuiStepIcon-active {
        padding: 8px;

        circle {
          fill: var(--primary-900);
        }

      }
    }

    .MuiStep-completed {
      .MuiStepLabel-iconContainer {
        background: var(--primary-900);
        border-radius: 50%;
        padding: 8px;
        width: 32px;
        height: 32px;

      }
    }

  }

  &.empty {
    .MuiStepIcon-root {
      width: 8px;
      height: 8px;
    }

    .MuiStepConnector-alternativeLabel {
      top: 3px;
      left: calc(-50% + 8px);
      right: calc(50% + 8px);
    }

    .MuiStepper-vertical {
      .MuiStepConnector-vertical {
        margin-left: 3px;
      }
    }
  }

  &.top {
    .MuiStepper-horizontal {
      .MuiStepLabel-alternativeLabel {
        margin: 0 0 8px;
      }

      .MuiStepConnector-alternativeLabel {
        top: 40px;
      }

      .stepLabel {
        flex-direction: column-reverse;
      }
    }
  }
}