.em-progressBar {
  .MuiLinearProgress-root {}

  &.MuiLinearProgress-colorPrimary {
    background-color: var(--neutral-100);
  }

  .MuiLinearProgress-barColorPrimary {
    background-color: var(--primary-900);
  }

  &.rounded {
    &.MuiLinearProgress-root {
      border-radius: 50%;
    }
  }

  &.soft {
    &.MuiLinearProgress-root {
      border-radius: 4px;
    }
  }

  &.default {
    &.MuiLinearProgress-root {
      height: 16px;
    }
  }

  &.small {
    &.MuiLinearProgress-root {
      height: 8px;
    }
  }
}