.em-chip {
  position: relative;
  display: inline-flex;

  &.MuiChip-root {
    height: auto;
    width: auto;
  }

  .MuiChip-label {
    padding: 0;
  }

  &.round {
    border-radius: 100px;
  }

  &.soft {
    border-radius: 4px;
  }

  &.sharp {
    border-radius: 0;
  }

  &.left {
    flex-direction: row-reverse;
  }

  &.small {
    .MuiChip-label {
      font-size: 12px;
      line-height: 16px;
      padding: 4px 8px;
    }

    .MuiChip-deleteIcon {
      margin: 0 8px 0 -4px;
    }

    &.left {
      .MuiChip-deleteIcon {
        margin: 0 -4px 0 8px;
      }
    }
  }

  &.medium {
    .MuiChip-label {
      font-size: 14px;
      line-height: 20px;
      padding: 6px 16px;
    }

    .MuiChip-deleteIcon {
      margin: 0 16px 0 -8px;
    }

    &.left {
      .MuiChip-deleteIcon {
        margin: 0 -8px 0 16px;
      }
    }
  }

  &.large {
    .MuiChip-label {
      font-size: 16px;
      line-height: 24px;
      padding: 8px 24px;
    }

    .MuiChip-deleteIcon {
      margin: 0 16px 0 -16px;
    }

    &.left {
      .MuiChip-deleteIcon {
        margin: 0 -16px 0 16px;
      }
    }
  }

  &.hideDeleteIcon {
    .MuiChip-deleteIcon {
      display: none;
    }
  }


}