.em-dropdown {
  min-width: 120px !important;

  .MuiSelect-outlined {   
    border: 1px solid #E5E5EB;
    border-radius: 8px,
  }
  
  .MuiInputLabel-outlined {
    transform: translate(8px, 10px) scale(1);
  }

  .MuiInputLabel-outlined.MuiInputLabel-shrink {
    transform: translate(12px, -6px) scale(0.75);
  }

  &.small {
    .MuiInputLabel-formControl {
      font-size: 12px;
       padding: 8px 40px 8px 8px;
    }
  }
  
  &.medium {
    .MuiInputLabel-formControl {
      font-size: 14px;
       padding: 8px 40px 8px 16px;
    }
  }
  
  &.large {
    .MuiInputLabel-formControl {
      font-size: 16px;
       padding: 8px 40px 8px 8px;
    }
  }
}

