.em-input-number {
  .iconGroup {
    display: none;

    &.disabled {
      pointer-events: none;
    }
  }

  &:hover {
    .iconGroup {
      display: block;
    }
  }

  .MuiInputBase-input {
    font-size: 14px;
    line-height: 20px;    
    font-weight: 400;
    color: #14142B;

    &::-webkit-input-placeholder {
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      color: #9C9CAF;
    }

    &.Mui-disabled {
      color: #6B6B80;
    }
  }

  .MuiInputLabel-outlined {
    position: static;
    transform: none;
    margin-bottom: 10px;
    color: #14142B;

    &.Mui-focused {   
      color: #14142B;
    }
  }

  .MuiOutlinedInput-root {    
    .MuiOutlinedInput-notchedOutline {
      border-color: #D1D1DB;
      border-radius: 2px;
    }

    &:hover {
      .MuiOutlinedInput-notchedOutline {
        border-color: #6B6B80;
      }      
    }

    &.Mui-focused {
      .MuiOutlinedInput-notchedOutline {
        border-color: #FFC107;
        border-width: 1px;
      }
    }

    &.Mui-disabled {   
      background: #F3F3F6;

      .MuiOutlinedInput-notchedOutline {
        border-color: #D1D1DB;
      }
    }
  } 


  .expandLess, .expandMore {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6B6B80;
  }
  
  .expandLess {
    border-bottom: 1px solid #F3F3F6;
  }

  &.small {
    .MuiOutlinedInput-input {
      padding: 5px 8px;
    }

    .expandLess, .expandMore {
      height: 12.5px;
    }

    .expandLessIcon, .expandMoreIcon {
      font-size: 12px;
    }
  } 

  &.medium {
    .MuiOutlinedInput-input {
      padding: 7px 12px;
    }

    .expandLess, .expandMore {
      height: 14px;
    }

    .expandLessIcon, .expandMoreIcon {
      font-size: 14px;
    }
  }

  &.large {
    .MuiInputBase-input, .MuiInputLabel-outlined  {
      font-size: 16px;
      line-height: 24px;
      
      &::-webkit-input-placeholder {
        font-size: 16px;
        line-height: 24px;
      }      
    }

    .MuiOutlinedInput-input {
      padding: 14.5px 12px;
    }

    .expandLess, .expandMore {
      height: 23px;
    }

    .expandLessIcon, .expandMoreIcon {
      font-size: 20px;
    }
  }
}