.em-input-number {
  .iconGroup {
    display: none;

    &.disabled {
      pointer-events: none;
    }
  }

  &:hover {
    .iconGroup {
      display: block;
    }
  }

  .MuiInputBase-input {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: var(--neutral-900);

    &::-webkit-input-placeholder {
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      color: var(--neutral-400);
    }

    &.Mui-disabled {
      color: var(--neutral-500);
    }
  }

  .MuiInputLabel-outlined {
    position: static;
    transform: none;
    margin-bottom: 10px;
    color: var(--neutral-900);

    &.Mui-focused {
      color: var(--neutral-900);
    }
  }

  .MuiOutlinedInput-root {
    .MuiOutlinedInput-notchedOutline {
      border-color: var(--neutral-300);
      border-radius: 2px;
    }

    &:hover {
      .MuiOutlinedInput-notchedOutline {
        border-color: var(--neutral-500);
      }
    }

    &.Mui-focused {
      .MuiOutlinedInput-notchedOutline {
        border-color: var(--primary-900);
        border-width: 1px;
      }
    }

    &.Mui-disabled {
      background: var(--neutral-100);

      .MuiOutlinedInput-notchedOutline {
        border-color: var(--neutral-300);
      }
    }
  }


  .expandLess,
  .expandMore {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--neutral-500);
  }

  .expandLess {
    border-bottom: 1px solid var(--neutral-100);
  }

  &.small {
    .MuiOutlinedInput-input {
      padding: 5px 8px;
    }

    .expandLess,
    .expandMore {
      height: 12.5px;
    }

    .expandLessIcon,
    .expandMoreIcon {
      font-size: 12px;
    }
  }

  &.medium {
    .MuiOutlinedInput-input {
      padding: 7px 12px;
    }

    .expandLess,
    .expandMore {
      height: 14px;
    }

    .expandLessIcon,
    .expandMoreIcon {
      font-size: 14px;
    }
  }

  &.large {

    .MuiInputBase-input,
    .MuiInputLabel-outlined {
      font-size: 16px;
      line-height: 24px;

      &::-webkit-input-placeholder {
        font-size: 16px;
        line-height: 24px;
      }
    }

    .MuiOutlinedInput-input {
      padding: 14.5px 12px;
    }

    .expandLess,
    .expandMore {
      height: 23px;
    }

    .expandLessIcon,
    .expandMoreIcon {
      font-size: 20px;
    }
  }
}