.em-button {

  &.fw-500 {
    font-weight: 500;
  }
  &.MuiButtonBase-root{
    text-transform: capitalize;   
    box-shadow: none;
    &:hover {
      box-shadow: none;
    } 
  }
  &.MuiButton-text{
    padding: 0
  }
  &.MuiButton-textPrimary{
    color: #FFC107
  }
  
  &.MuiButton-textSecondary{
    color: #14142B
  }
  
  &.MuiButton-outlined{
    border: 1px solid #D1D1DB;
    border-radius: 0.25rem;

    &:hover {
      border: 1px solid #D1D1DB;
    }  
  }
  
  &.MuiButton-outlinedPrimary{
    color: #FFC107;
    border: 1px solid #FFC107;
  
    &:hover {
      background-color: #FFC107;
      color: #FFF;
    }
  }
  &.MuiButton-outlinedSecondary{
    color: #14142B
  }

  &.MuiButton-containedPrimary{
    background-color: #FFC107;
    color: #FFF;

    &:hover {
      background-color: #FFC720;
    }
    &:disabled {
      background-color: #FFDA6A;
    }  
  }
  &.MuiButton-containedSecondary{
    background-color: #F3F3F6;
    color: #14142B;

    &:hover {
      background-color: #e3e3e9;
    }
    &:disabled {
      background-color: #F3F3F6;
    }  
  }

  &.extraSmall{
    padding: 0.5rem 1.5rem;
    font-size: 0.75rem;
    line-height: 1rem;
  }
  
  &.small{
    padding: 0.75rem 1.5rem;
    font-size: 0.75rem;
    line-height: 1.25rem;
  }

  &.medium{
    padding: 0.875rem 2rem;
    font-size: 0.875rem;
    line-height: 1.5rem;
  }

  &.large{
    padding: 1rem 2rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  &.Mui-disabled{
    opacity: 0.65
  }
  &.normal {
    border-radius: 0;
  }
  &.rounded-full {
    border-radius: 50px;
  }  
  &.square {
    border-radius: 4px;
  }
  &.iconOnly {
    min-width: auto;
    padding: 0;

    .MuiButton-startIcon, .MuiButton-endIcon {
      margin: 0;
    }

    &.extraSmall{
      width: 32px;
      height: 32px;
    }
    
    &.small{
      width: 40px;
      height: 40px;
    }

    &.medium{
      width: 48px;
      height: 48px;
    }
  
    &.large{
      width: 56px;
      height: 56px;
    }
  }
}
