.em-radio {
  .MuiIconButton-root {
    padding-top: 0;
    padding-bottom: 0;
  }

  .MuiRadio-colorPrimary {
    color: var(--neutral-300);
    padding-top: 0;
    padding-bottom: 0;

    &.Mui-checked {
      color: var(--primary-900);
    }
  }

  .radioIcon {
    width: 18px;
    height: 18px;
    border: 1px solid var(--neutral-300);
    border-radius: 50%;
    background-color: var(--gray-50);
  }

  .checkedIcon {
    background-color: var(--primary-900);
    background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, 0));
    border-radius: 50%;

    &::before {
      width: 18px;
      height: 18px;
      content: "";
      display: block;
      background-image: radial-gradient(var(--white), var(--white) 28%, transparent 32%);
    }
  }

  .MuiFormControlLabel-label {
    font-size: 0.875rem;
    color: #272B30;

    &.Mui-disabled {
      color: #272B30;
    }
  }

  .MuiSvgIcon-root {
    width: 1.375rem;
    height: 1.375rem;
  }

  .MuiFormHelperText-root.error {
    &.error {
      color: var(--errorLBase-100);
      margin-top: 5px;
    }
  }

  .Mui-disabled {
    .radioIcon {
      background: var(--neutral-100);
    }

    .checkedIcon {
      background-color: var(--neutral-300);
    }
  }

  &.error-radio {
    .radioIcon {
      border: 1px solid var(--errorLBase-100);
    }
  }
}