.em-pagination {
  .MuiPaginationItem-root {
    margin: 0 4px;
    border: 1px solid var(--neutral-400);
    background: var(--gray-50);

    @media screen and (max-width: 767px) {
      min-width: 28px;
      height: 28px;
      line-height: 28px;
      margin: 0 3px;
    }

    &.MuiPaginationItem-page {

      &:hover,
      &.Mui-selected {
        border: 1px solid var(--primary-900);
        background: var(--gray-50);
        color: var(--primary-900);
      }
    }

    &.MuiPaginationItem-ellipsis {
      background: transparent;
      border: none;
      margin: 0;
      padding: 0;
    }
  }
}