.em-switch {
    &.MuiSwitch-root {
        width: 52px;
        height: 32px;
        padding: 0;
        border-radius: 45px;
        margin: 0 15px;
    }

    .MuiSwitch-track {
        background-color: var(--neutral-300);
        opacity: 1;
    }

    .MuiSwitch-thumb {
        width: 24px;
        height: 24px;
        background-color: var(--gray-50);
    }

    .MuiSwitch-switchBase {
        padding: 0;
        top: 4px;
        left: 4px;
        background: var(--gray-50);
    }

    .MuiSwitch-colorPrimary {
        &.Mui-checked {
            +.MuiSwitch-track {
                opacity: 1;
                background-color: var(--primary-900);
            }

        }

        &.Mui-disabled {

            +.MuiSwitch-track {
                background-color: var(--neutral-100);
                border: 1px solid var(--neutral-300);
                opacity: 1;
                border-radius: 45px;
            }

            .MuiSwitch-thumb {
                background-color: var(--neutral-300);
            }

        }
    }
}