.em-tabs {
    .MuiTabs-root {
        min-height: auto;
    }

    .MuiButtonBase-root {
        text-transform: capitalize;
        min-height: auto;
        min-width: auto;
    }

    .MuiTab-textColorPrimary {
        color: var(--neutral-500);
        font-size: 14px;
        font-weight: 400;
    }

    .MuiTabs-indicator {
        background-color: var(--primary-900);
    }

    .default,
    .justified,
    .left,
    .right,
    .default {
        .MuiButtonBase-root {
            padding: 0 8px 15px;
            border-bottom: 1px solid var(--neutral-300);
        }

        .Mui-selected {
            color: var(--neutral-800);
            font-weight: 500;
        }
    }

    .justified {
        .MuiButtonBase-root {
            min-width: 135px;
        }

        .MuiTab-textColorPrimary {
            &.Mui-selected {
                color: var(--primary-900);
                font-weight: 500;
            }
        }
    }

    .filled {
        .Mui-selected {
            background: var(--primary-900);
            color: var(--white);
        }

        .MuiTabs-indicator {
            display: none;
        }

        .MuiTab-root {
            padding: 15px 24px;
            min-width: 135px;
        }
    }



    .MuiTabs-vertical {
        flex-shrink: 0;

        &.default,
        &.justified,
        &.left,
        &.right,
        &.default {
            .MuiButtonBase-root {
                border-bottom: none;
                padding: 8px 24px;
            }
        }

        &.left {
            .MuiButtonBase-root {
                padding-left: 0;
                border-right: 1px solid var(--neutral-300);

                .MuiTab-wrapper {
                    align-items: flex-end;
                }
            }
        }

        &.right {

            .MuiButtonBase-root {
                padding-right: 0;
                border-left: 1px solid var(--neutral-300);

                .MuiTab-wrapper {
                    align-items: flex-start;
                }
            }

            .MuiTabs-indicator {
                left: 0;
            }
        }

        &.justified,
        &.default {
            .MuiButtonBase-root {
                border-right: 1px solid var(--neutral-300);

                .MuiTab-wrapper {
                    align-items: center
                }
            }

            .MuiTab-textColorPrimary {
                &.Mui-selected {
                    color: var(--neutral-800);

                }
            }
        }

        &.filled {
            .MuiButtonBase-root {
                padding: 15px 24px;

                .MuiTab-wrapper {
                    align-items: flex-start;
                }
            }
        }
    }
}