.em-accordion {
    &.outline {
        border: 1px solid var(--neutral-300);
        border-radius: 4px;
        border-bottom: none;
        box-shadow: none;
    }

    .MuiAccordion-root {
        background: var(--gray-50);
        border-bottom: 1px solid #CED4DA;
        box-shadow: none;

        &.Mui-expanded {
            border-top: 2px solid var(--primary-900);
            margin: 0;
        }
    }
}