.em-tooltip-content {
    &.MuiTooltip-tooltip {
        background: var(--neutral-800);
        border-radius: 4px;
        padding: 6px 16px;
        font-size: 14px;
        font-weight: 400;
    }

    .MuiTooltip-arrow {
        color: var(--neutral-800);
        font-size: 16px;
    }
}