.review-replyPost {
  .em-input {
    .MuiInputBase-input {
      color: var(--neutral-500);
    }

    .MuiOutlinedInput-root {
      .MuiOutlinedInput-notchedOutline {
        border-radius: 4px;
      }
    }
  }

  .em-button {
    &.medium {
      padding: 8px 30px;
      line-height: 20px;
    }
  }
}