.review-replyPost {
  .em-input {
    .MuiInputBase-input {
      color: var(--neutral-500);
    }

    .MuiOutlinedInput-root {
      .MuiOutlinedInput-notchedOutline {
        border-radius: 4px;
      }
    }
  }

  .em-button {
    &.medium {
      padding: 8px 30px;
      line-height: 20px;

      @media screen and (max-width: 767px) {
        font-size: 12px;

        &.MuiButton-outlined {
          padding: 5px 20px;
        }
      }
    }
  }
}