:root {
    --primary-10: #ffc1071a;
    --primary-50: #FFE083;
    --primary-100: #FFDA6A;
    --primary-300: #FFD451;
    --primary-400: #FFCD39;
    --primary-800: #FFC720;
    --primary-900: #FFC107;

    --secondary-50: #C3C7CB;
    --secondary-100: #B6BBC0;
    --secondary-300: #AAB0B6;
    --secondary-400: #9EA5AB;
    --secondary-800: #9299A1;
    --secondary-900: #868E96;

    --neutral-50: #F9F9FB;
    --neutral-100: #F3F3F6;
    --neutral-300: #D1D1DB;
    --neutral-400: #9C9CAF;
    --neutral-500: #6B6B80;
    --neutral-600: #4B4B63;
    --neutral-700: #373751;
    --neutral-800: #1F1F37;
    --neutral-900: #14142B;

    --infoLight-50: #E5F5FC;
    --infoBase-100: #017AAD;
    --successLight-50: #EAF3EB;
    --successBase-100: #29823B;
    --warningLight-50: #FDF4E5;
    --warningLBase-100: #E99400;
    --errorLight-50: #FCEAEA;
    --errorLBase-100: #DC2020;

    --blue: #29BFEE;
    --magenta: #EE29CE;
    --red: #EE2970;
    --darkRed: #B11111;
    --green: #429919;
    --pink: #FC2170;

    --gray-50: #FCFCFC;
    --gray-100: #e3e3e9;
    --gray-200: #E5E5EB;

    --white: #ffffff;
    --black: #000000;
}