.em-multiSelect {
  min-width: 100px !important;
  width: 100%;
  overflow: hidden;

  .MuiOutlinedInput-notchedOutline {
    border: none;
  }
  .MuiSelect-icon {
    top: calc(50% - 15px);
  }

  label + .MuiInput-formControl {
    margin-top: 0;
  }

  .MuiInputLabel-formControl,.MuiInput-input, .MuiSelect-outlined { 
    position: static;
    transform: none;
    margin-bottom: 8px;
    color: #373751;

    &.MuiInputLabel-shrink {
      transform: none;
      color: #373751;
    }
  }

  .MuiSelect-selectMenu {
    &:focus {
      background: transparent;
    } 
  }

  .Mui-focused {
    .MuiSelect-outlined {  
      border-color: #FFC107; 
    }
  }

  .MuiSelect-outlined {
    border: 1px solid #e5e5eb;    
    color: #14142B;

    &:focus {
      border-color: #FFC107;   
    }
       
    .MuiOutlinedInput-notchedOutline {
      border-color: #e5e5eb;
      border-width: 1px !important;
    }
  } 

  .Mui-error {
    .MuiSelect-outlined {
      border: 1px solid #DC2020;   
    } 
  }

  .Mui-disabled {
    .MuiSelect-outlined {
      background: #F3F3F6;
      pointer-events: none;
      color: #6B6B80;
    } 
  }

  .em-dropdown-icon  {
    color: #47474a;
    position: absolute;
    font-size: 24px;
  }

  &.small {
    .MuiInputLabel-formControl,.MuiInput-input, .MuiSelect-outlined, .MuiSelect-filled {
      font-size: 12px;
    }

    .MuiSelect-outlined, .MuiSelect-filled  {
      padding:6px 40px 6px 8px;
      border-radius: 8px;  
    }

    .em-dropdown-icon {
      right: 6px;
    }

    .MuiInput-underline {
      .em-dropdown-icon {
        right: 0;
      }
    }
  }

  &.large {
    .MuiInputLabel-formControl, .MuiInput-input, .MuiSelect-outlined, .MuiSelect-filled {
      font-size: 14px;
    }

    .MuiSelect-outlined, .MuiSelect-filled {
      padding: 10px 40px 10px 16px;
      border-radius: 4px;    
    }
    
    .em-dropdown-icon {   
      right: 8px;  
    }
    .MuiInput-underline {
      .em-dropdown-icon {
        right: 0;
      }
    }
  }  

  .MuiFormHelperText-root {
    &.error {
      margin: 8px 0 0 0;
      color: #DC2020;;
    }
  }
}