.em-breadcrumb {
  .MuiTypography-colorTextPrimary {
    color: #14142B !important;
    font-weight: 500;
  }
  
  .MuiTypography-colorTextSecondary {
    color: #6B6B80
  }

  .MuiButtonBase-root {
    background-color: transparent;
  }
}