.em-card {
    .MuiCardContent-root {
        padding: 8px 16px 16px;

        &:last-child {
            padding-bottom: 16px;
        }
    }
    &.MuiPaper-outlined {        
        box-shadow: 0px 9px 18px rgba(0, 0, 0, 0.15);
        border-radius: 8px;
    }
    .cardContent {
        display: flex;
        align-items: center;
    }
}