.em-checkbox {
  color: #272B30;


  .MuiCheckbox-root {
    border: 1px solid #9C9CAF;
    border-radius: 4px;
    width: 24px;
    height: 24px;
    padding: 0;
  }

  .MuiSvgIcon-root {
    display: none;
  }

  .Mui-checked {
    width: 24px;
    height: 24px;
  }
  
  .MuiCheckbox-colorPrimary {
    &.Mui-checked{
      color: #FFC107;

      .MuiSvgIcon-root {
        display: block;
        width: 32px;
        height: 32px;
      }
    }

    &.Mui-disabled {
      background: #F3F3F6;
      border: 1px solid #D1D1DB;

      &.Mui-checked{
        color: #E5E5EB;
      }
    }   
  } 


  &.error-checkbox {
    .MuiCheckbox-root {
      border: 1px solid #DC2020;
    }
  }

  .MuiFormHelperText-root.error {
    &.error {
      color: #DC2020;
      margin-top: 5px;
    } 
  }
}