.em-dateRangePicker {
    .DateRangePicker {
        width: 100%;
    }

    .DateRangePicker_picker {
        border: 1px solid var(--neutral-300);
        box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        margin-top: -20px;
    }

    .DateRangePickerInput__withBorder {
        display: flex;
        border: 1px solid var(--neutral-300);
        border-radius: 5px;
        overflow: hidden;
        width: 100%;

        &:focus {
            &::after {
                background: #000;
            }
        }
    }

    .CalendarDay__default {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        border: 8px solid var(--white);
        border-radius: 24px;
        color: var(--neutral-900);

        @media screen and (max-width: 360px) {
            max-width: 34px;
        }

        &:hover {
            background: var(--neutral-300);
        }

        &.CalendarDay__selected,
        &.CalendarDay__selected:active,
        &.CalendarDay__selected:hover,
        &.CalendarDay__hovered_span,
        &.CalendarDay__hovered_span:hover {
            background: var(--primary-900);
            color: var(--white);
        }

        &.CalendarDay__selected_span,
        &.CalendarDay__hovered_span,
        &.CalendarDay__hovered_span:hover {
            background: var(--primary-10);
            color: var(--neutral-900);
        }
    }

    .DayPicker_weekHeader_li {

        @media screen and (max-width: 360px) {
            max-width: 34px;
        }

    }

    .DayPickerKeyboardShortcuts_show {
        display: none;
    }

    .DayPickerNavigation_leftButton__horizontalDefault,
    .DayPickerNavigation_rightButton__horizontalDefault {
        top: 24px;
        width: 24px;
        border: none;
        height: 24px;

        svg {
            display: none;
        }
    }

    .DayPickerNavigation_leftButton__horizontalDefault {
        background: url("/images/icons/left-arrow-black.svg") no-repeat center;
    }

    .DayPickerNavigation_rightButton__horizontalDefault {
        background: url("/images/icons/right-arrow-black.svg") no-repeat center;
    }


    .DateRangePickerInput {
        &::after {
            content: "";
            width: 16px;
            height: 10px;
            display: inline-block;
            background: url("/images/icons/downArrow.svg") no-repeat;
            position: absolute;
            top: 16px;
            right: 16px;
        }

        &_arrow {
            position: relative;
            display: inline-flex;
            align-items: center;

            svg {
                display: none;
            }

            &::before {
                content: "";
                width: 6px;
                height: 1px;
                display: inline-block;
                margin: 5px 10px 0;
                background: var(--neutral-900);
                z-index: 1;
            }
        }

        .DateInput {
            width: 85px;

            &_input {
                padding-right: 0;
                font-size: 14px;
                color: var(--neutral-900);
                font-weight: 400;
                padding: 11px 0 6px;
                line-height: 20px;
                text-align: center;
                outline: none;

                &::-webkit-input-placeholder {
                    font-size: 14px;
                    color: var(--neutral-900);
                }

                &__focused {
                    border-bottom: 2px solid var(--primary-900);
                }

                &:visited {
                    width: 100px;
                }
            }

            &:first-child {
                input {
                    padding-left: 10px;
                }
            }

            &:last-child {
                width: 120px;

                input {
                    padding-right: 45px;
                }
            }

        }
    }

    .CalendarMonth_caption {
        strong {
            font-weight: 500;
            font-size: 18px;
            line-height: 28px;
        }
    }

    .DayPicker_weekHeader_li {
        small {
            color: var(--neutral-600);
        }
    }

    .DayPicker_weekHeader {
        top: 75px;
    }

    .CalendarMonth_caption {
        padding-bottom: 50px;
    }

    .DayPicker__withBorder {
        padding-bottom: 30px;

        @media screen and (max-width: 600px) {
            max-width: 330px;
            overflow: hidden;
            padding-bottom: 0;

            >div>div {
                max-width: 330px;
            }
        }

        @media screen and (max-width: 360px) {
            max-width: 290px;

            >div>div {
                max-width: 290px;
            }
        }
    }


    &.right {
        @media screen and (min-width: 600px) {
            .DateRangePicker_picker {
                left: auto !important;
                right: 0;
            }
        }
    }
}