.em-switch {
    &.MuiSwitch-root {
        width: 52px;
        height: 32px;
        padding: 0;
        border-radius: 45px;
        margin: 0 15px;
    }

    .MuiSwitch-track {
        background-color: #D1D1DB;
        opacity: 1;
    }
    .MuiSwitch-thumb {
        width: 24px;
        height: 24px;
        background-color: #FCFCFC;
    }

    .MuiSwitch-switchBase {
        padding: 0;
        top: 4px;
        left: 4px;
        background: #FCFCFC;
    }

    .MuiSwitch-colorPrimary {
        &.Mui-checked {
            + .MuiSwitch-track {
                opacity: 1;
                background-color: #FFC107;
            }
           
        }

        &.Mui-disabled {
            
            + .MuiSwitch-track {
                background-color: #F3F3F6;
                border: 1px solid #D1D1DB;
                opacity: 1;
                border-radius: 45px;
            }

            .MuiSwitch-thumb {
                background-color: #D1D1DB;
            }
    
        }
    }
}