.em-alert {
  &.MuiAlert-root {
    padding: 14px 18px;
    font-size: 14px;
  }

  .MuiAlert-icon {
    margin-right: 10px;
  }

  &.MuiAlert-filledInfo {
    background-color: var(--infoBase-100);
  }

  &.MuiAlert-outlinedInfo {
    border-color: var(--infoBase-100);
    padding: 13px 18px;

    .MuiAlert-icon {
      color: var(--infoBase-100);
    }
  }

  &.MuiAlert-standardInfo {
    background-color: var(--infoLight-50);

    .MuiAlert-icon {
      color: var(--infoBase-100);
    }
  }

  &.MuiAlert-filledError {
    background-color: var(--errorLBase-100);
  }

  &.MuiAlert-outlinedError {
    border-color: var(--errorLBase-100);
    padding: 13px 18px;

    .MuiAlert-icon {
      color: var(--errorLBase-100);
    }
  }

  &.MuiAlert-standardError {
    background-color: var(--errorLight-50);

    .MuiAlert-icon {
      color: var(--errorLBase-100);
    }
  }

  &.MuiAlert-filledWarning {
    background-color: var(--warningLBase-100);
  }

  &.MuiAlert-outlinedWarning {
    border-color: var(--warningLBase-100);
    padding: 13px 18px;

    .MuiAlert-icon {
      color: var(--warningLBase-100);
    }
  }

  &.MuiAlert-standardWarning {
    background-color: var(--warningLight-50);

    .MuiAlert-icon {
      color: var(--warningLBase-100);
    }
  }

  &.MuiAlert-filledSuccess {
    background-color: var(--successBase-100);
  }

  &.MuiAlert-outlinedSuccess {
    border-color: var(--successBase-100);
    padding: 13px 18px;

    .MuiAlert-icon {
      color: var(--successBase-100);
    }
  }

  &.MuiAlert-standardSuccess {
    background-color: var(--successLight-50);

    .MuiAlert-icon {
      color: var(--successBase-100);
    }
  }
}