.em-alert {
  &.MuiAlert-root {
    padding: 14px 18px;
    font-size: 14px;
  }

  .MuiAlert-icon {
    margin-right: 10px;
  }

  &.MuiAlert-filledInfo {
    background-color: #017aad;
  }

  &.MuiAlert-outlinedInfo {
    border-color: #017aad;
    padding: 13px 18px;

    .MuiAlert-icon {
      color: #017aad;
    }
  }

  &.MuiAlert-standardInfo {
    background-color: #e5f5fc;

    .MuiAlert-icon {
      color: #017aad;
    }
  }

  &.MuiAlert-filledError {
    background-color: #dc2020;
  }

  &.MuiAlert-outlinedError {
    border-color: #dc2020;
    padding: 13px 18px;

    .MuiAlert-icon {
      color: #dc2020;
    }
  }

  &.MuiAlert-standardError {
    background-color: #fceaea;

    .MuiAlert-icon {
      color: #dc2020;
    }
  }

  &.MuiAlert-filledWarning {
    background-color: #e99400;
  }

  &.MuiAlert-outlinedWarning {
    border-color: #e99400;
    padding: 13px 18px;

    .MuiAlert-icon {
      color: #e99400;
    }
  }

  &.MuiAlert-standardWarning {
    background-color: #fdf4e5;

    .MuiAlert-icon {
      color: #e99400;
    }
  }

  &.MuiAlert-filledSuccess {
    background-color: #29823b;
  }

  &.MuiAlert-outlinedSuccess {
    border-color: #29823b;
    padding: 13px 18px;

    .MuiAlert-icon {
      color: #29823b;
    }
  }

  &.MuiAlert-standardSuccess {
    background-color: #eaf3eb;

    .MuiAlert-icon {
      color: #29823b;
    }
  }
}
