.em-avatar {
    position: relative;
    color: #FFF;

    &.extraSmall, .MuiAvatar-root.extraSmall {
      width: 24px;
      height: 24px;

      .MuiAvatar-colorDefault {
        font-size: 12px;
        line-height: 20px;
      }
    }
    
    &.small, .MuiAvatar-root.small {
      width: 32px;
      height: 32px;

      .MuiAvatar-colorDefault {
        font-size: 14px;
        line-height: 22px;
      }
    }
    

    &.medium, .MuiAvatar-root.medium {
        width: 40px;
        height: 40px;

        .MuiAvatar-colorDefault {
          font-size: 16px;
          line-height: 24px;
        }
    }

    &.large, .MuiAvatar-root.large {
      width: 52px;
      height: 52px;

      .MuiAvatar-colorDefault {
        font-size: 20px;
        line-height: 28px;
      }
  }

  .MuiAvatar-colorDefault {
    font-weight: 500;
  }
}