.em-button {

  &.fw-500 {
    font-weight: 500;
  }

  &.MuiButtonBase-root {
    text-transform: capitalize;
    box-shadow: none;

    &:hover {
      box-shadow: none;
    }
  }

  &.MuiButton-text {
    padding: 0
  }

  &.MuiButton-textPrimary {
    color: var(--primary-900)
  }

  &.MuiButton-textSecondary {
    color: var(--neutral-900)
  }

  &.MuiButton-outlined {
    border: 1px solid var(--neutral-300);
    border-radius: 0.25rem;

    &:hover,
    &:visited,
    &:active,
    &:focus {
      border: 1px solid var(--neutral-300);
    }
  }

  &.MuiButton-outlinedPrimary {
    color: var(--primary-900);
    border: 1px solid var(--primary-900);

  }

  &.MuiButton-outlinedSecondary {
    color: var(--neutral-900)
  }

  &.MuiButton-containedPrimary {
    background-color: var(--primary-900);
    color: var(--white);

    &:hover,
    &:visited,
    &:active,
    &:focus {
      background-color: var(--primary-800);
      color: var(--white);
    }

    &:disabled {
      background-color: var(--primary-100);
      color: var(--primary-300);
    }
  }

  &.MuiButton-containedSecondary {
    background-color: var(--neutral-100);
    color: var(--neutral-900);

    &:hover,
    &:visited,
    &:active,
    &:focus {
      background-color: var(--gray-100);
    }

    &:disabled {
      background-color: var(--neutral-100);
    }
  }


  &.MuiButton-text,
  &.MuiButton-outlined {

    &:hover,
    &:visited,
    &:active,
    &:focus {
      background-color: var(--primary-50);
      border-color: var(--primary-800);
      color: var(--primary-800);
    }

    &:disabled {
      background-color: var(--primary-100);
      border-color: var(--primary-100);
      color: var(--primary-300);
    }
  }

  &.extraSmall {
    padding: 0.5rem 1.5rem;
    font-size: 0.75rem;
    line-height: 1rem;
  }

  &.small {
    padding: 0.75rem 1.5rem;
    font-size: 0.75rem;
    line-height: 1.25rem;
  }

  &.medium {
    padding: 0.875rem 2rem;
    font-size: 0.875rem;
    line-height: 1.5rem;
  }

  &.large {
    padding: 1rem 2rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  &.Mui-disabled {
    opacity: 0.65
  }

  &.normal {
    border-radius: 0;
  }

  &.rounded-full {
    border-radius: 50px;
  }

  &.square {
    border-radius: 4px;
  }

  &.iconOnly {
    min-width: auto;
    padding: 0;

    .MuiButton-startIcon,
    .MuiButton-endIcon {
      margin: 0;
    }

    &.extraSmall {
      width: 32px;
      height: 32px;
    }

    &.small {
      width: 40px;
      height: 40px;
    }

    &.medium {
      width: 48px;
      height: 48px;
    }

    &.large {
      width: 56px;
      height: 56px;
    }
  }
}