.em-breadcrumb {
  .MuiTypography-colorTextPrimary {
    color: var(--neutral-900) !important;
    font-weight: 500;
  }

  .MuiBreadcrumbs-separator {
    margin: 0 8px;

    .MuiSvgIcon-root {
      margin: 0 -6px;
    }
  }

  .MuiTypography-colorTextSecondary {
    color: var(--neutral-500)
  }

  .MuiButtonBase-root {
    background-color: transparent;
  }
}